.logo {
    width: 22px;
    height: 22px;
    margin-top: 12px;
}

.logo-large {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.logo-mini {
    width: 16px;
    height: 16px;
    margin-top: 16px;
}